/* #components-layout-demo-top-side-2 .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
    float: right;
    margin: 16px 0 16px 24px;
} */

#dbfile {
    margin: 10px 10px;
    font-size: 16px;
}

.Layout-inner {
    padding: 0 24px 24px;
}

.Content {
    background: #fff;
    padding: 24px;
    margin: 0px;
    min-height: 580px;
}

.Menu {
    height: 100%;
    border-right: 0;
}

.Breadcrumb {
    margin: 16px 0;
}